* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e2122;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    margin: 5% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.container {
    display: flex;
    flex-flow: column;
    align-items: space-around;
    justify-content: center;
    width: 398px;
    height: 513px;
    background: #0B171A;
    border-radius: 15px;
    margin-bottom: 4rem;
    background-size: 50px, 130px, auto;
    z-index: 999;
}

.container .round-1 {
    position: absolute;
    width: 232px;
    height: 233px;
    left: 25%;
    top: 33%;
    border: 3px solid #059B9C;
    border-radius: 50%;
    background: transparent;
    mix-blend-mode: multiply;
}

.container .round-2 {
    position: absolute;
    width: 387px;
    height: 387px;
    left: 713px;
    top: 50%;
    border-radius: 50%;
    border: 3px solid #F8B225;
    mix-blend-mode: multiply;
}

.container .round-box span {
    position: absolute;
    border-radius: 50%;
}


.container .round-box .r1 {
    width: 11px;
    height: 11px;
    left: 391px;
    top: 527px;
    background: rgba(5, 155, 156, 0.25);
}

.container .round-box .r2 {
    width: 12px;
    height: 11px;
    left: 425px;
    top: 527px;
    background: rgba(5, 155, 156, 0.5);
}

.container .round-box .r3 {
    width: 11px;
    height: 11px;
    left: 443px;
    top: 527px;
    background: rgba(5, 155, 156, 0.25);
}

.container .round-box .r4 {
    width: 11px;
    height: 12px;
    left: 391px;
    top: 543px;
    background: rgba(5, 155, 156, 0.5);
}

.container .round-box .r5 {
    width: 12px;
    height: 12px;
    left: 408px;
    top: 543px;
    background: #059B9C;
}

.container .round-box .r6 {
    width: 12px;
    height: 11px;
    left: 408px;
    top: 560px;
    background: rgba(5, 155, 156, 0.5);
}

.container .round-box .r6 {
    width: 11px;
    height: 11px;
    left: 443px;
    top: 593px;
    background: rgba(5, 155, 156, 0.25);
}

.container .round-box .r7 {
    width: 11px;
    height: 12px;
    left: 443px;
    top: 609px;

    background: rgba(5, 155, 156, 0.25);
}

.container .round-box-right span {
    position: absolute;
    border-radius: 50%;
}

.container .round-box-right .r1 {
    width: 11px;
    height: 12px;
    left: 1007px;
    top: 300px;
    background: rgba(248, 178, 37, 0.25);
}

.container .round-box-right .r2 {
    width: 11px;
    height: 11px;
    left: 1007px;
    top: 317px;
    background: rgba(248, 178, 37, 0.25);
}

.container .round-box-right .r3 {
    width: 12px;
    height: 11px;
    left: 1024px;
    top: 317px;
    background: rgba(248, 178, 37, 0.25);
}

.container .round-box-right .r4 {
    width: 12px;
    height: 11px;
    left: 1024px;
    top: 333px;
    background: rgba(248, 178, 37, 0.25);
}

.container .round-box-right .r4 {
    width: 11px;
    height: 11px;
    left: 1059px;
    top: 340px;
    background: rgba(248, 178, 37, 0.25);
}

.container .round-box-right .r4 {
    width: 12px;
    height: 12px;
    left: 1024px;
    top: 355px;
    background: #F8B225;
}

.container .round-box-right .r5 {
    width: 12px;
    height: 12px;
    left: 1041px;
    top: 355px;
    background: rgba(248, 178, 37, 0.5);
}

.container .round-box-right .r6 {
    width: 12px;
    height: 12px;
    left: 1007px;
    top: 355px;
    background: rgba(248, 178, 37, 0.5);
}

.container .round-box-right .r7 {
    width: 12px;
    height: 12px;
    left: 1007px;
    top: 372px;
    background: rgba(248, 178, 37, 0.5);
}

.userInput {
    display: flex;
    justify-content: center;
    width: 390px;
}

h1 {
    text-align: center;
    font-family: 'Montserrat';
    padding: 0.6rem;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    margin: 0;
    z-index: 999;
}

input {
    margin: 10px;
    height: 35px;
    width: 30px;
    border-bottom: none;
    outline: none;
    text-align: center;
    font-size: 30px;
    color: #059B9C;
    ;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background: transparent;
}

button {
    width: 189px;
    height: 51px;
    margin: 25px auto 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    padding: 16px 57px;
    border: none;
    cursor: pointer;
    letter-spacing: 2px;
    background: #059B9C;
    border-radius: 10px;
}

.container a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    /* line-height: 24px; */
    color: #FFFFFF;
}

/*====== Home style Start==== */

.section-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 5% 0 0 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
}

.section-two {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    width: 80%;
}

.section-two-text {
    font-size: 1rem;
    color: white;
    width: 80%;
    text-align: left;
}

.cards {
    color: white;
    padding: 2%;
    display: flex;
    flex-direction: row;
}

.card {
    width: 280px;
    margin: 0 2%;
    padding: 2%;
    border: 1px solid white;
    border-radius: 10px;
}

.card-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    align-self: center;
}

/* Entry section :start */
.section-one {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 5% 0 0 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
}